body
{
background-color:cornsilk
}
img
{
float: left;
}
.why-moringa
{
    background-color:chocolate
    }
    body
    {
    font-family:'Courier New'
    }
     
      .test-box
{
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}